<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All in one Video Downloader</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <h1>All in one Video Downloader</h1>
    <form action="/download-youtube" method="post" class="yt">
        <h2>YouTube Video</h2>
        <input type=" text" name="ytUrl" placeholder="Enter YouTube video URL" required>
        <button type="submit">Download</button>
    </form>
    <form action="/download-instagram" method="post" class="ig">
        <h2>Instagram Video</h2>
        <input type="text" name="isUrl" placeholder="Enter Instagram video URL" required>
        <button type="submit">Download</button>
    </form>
    <footer>
        By Rapid Code | All right reserved &copy copyrights 2024
    </footer>
</body>

</html>